attrs
Babel
bcc
blinker
Brlapi
certifi
chardet
click
cloud-init
colorama
command-not-found
configobj
cryptography
cupshelpers
dbus-python
defer
distro
distro-info
docker
docker-compose
dockerpty
docopt
gyp
httplib2
idna
Jinja2
jsonpatch
jsonpointer
jsonschema
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
louis
markdown-it-py
MarkupSafe
mdurl
netaddr
oauthlib
olefile
packaging
pexpect
pillow
ptyprocess
pycairo
pycups
Pygments
PyGObject
PyJWT
pyparsing
pyrsistent
pyserial
python-apt
python-dateutil
python-debian
python-dotenv
pytz
pyxdg
PyYAML
requests
rich
setuptools
six
speedtest-cli
systemd-python
texttable
typing_extensions
ubuntu-drivers-common
ubuntu-pro-client
ufw
unattended-upgrades
urllib3
vboxapi
wadllib
websocket-client
wheel
xdg
xkit
